html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    min-height: 100%;
    scroll-behavior: smooth;
  }

body{
    font-family: 'Barlow';
    background-color: rgb(247, 234, 218);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    font-size: 1.4rem;
}

#heading{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    position: sticky;
    top: 0px;
    padding: 20px 50px;
    // background-color: rgb(228, 101, 101);
}

#heading__name{
    font-size: 2rem;
    cursor: pointer;
    // text-shadow: 0px -2.5px 3px rgb(0, 0, 0);
    transition: 0.5s;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#heading__name:hover{
    font-size:2.2rem;
}

#heading__links{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.heading__links{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}

.heading__links:hover{
    color: rgb(163, 2, 2);
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#sectionone__greeting{
    font-size: 3.5rem;
    color: rgb(163, 2, 2);
}

#sectionone{
    margin: 15px 0px;
    width: 100%;
}

#sectionone__name{
    font-size: 3rem;
}

span{
    color: rgb(0, 217, 255);
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 3px 3px 2px rgb(255, 255, 255);  
    font-size: 4rem;
}

span:hover{
    font-size: 4.3rem;
    // margin-left: 0.5%;
}

#sectiontwo__text{
    // margin-top: 30vh;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#sectiontwo__heading{
    font-size: 2.8rem;
    padding: 20px;
}

#sectiontwo__aboutme{
    width: 50%;
    padding: 20px;
    font-size: 1.5rem;
}

#sectionthree__text{
    margin-top: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    // height: 100vh;
}

#sectionthree__heading{
    font-size: 2.8rem;
    padding: 20px;
}

#sectionthree__projects{
    // width: 100%;
    font-size: 1.5rem;
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    // justify-content: center;
}

.sectionthree__project{
    // display: flex;
    // flex-direction: column;
    // text-align: center;
    padding: 0;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sectionthree__cover{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 35px;
    cursor: pointer;
    min-width: none;
    background:none;
    transition: 0.5s;
}

.projectcontainer{
    transition: 0.75s;
    :hover{
        border-color: rgb(0, 217, 255);
        width: 210px;
        height: 210px;
    }
}

#sectionthree{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionthree__description{
    width: 85%;
}

#sectionfour__heading{
    font-size: 2.8rem;
    padding: 20px;
}

.sectionfour__contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sectionfour__logo{
    width: 40px;
    cursor: pointer;
}

.sectionfour__contactContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

@media (max-width: 500px) {
    body{
        font-family: 'Optima';
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position:relative;
        font-size: 1.1rem;
    }
    
    #heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px;
        position: sticky;
        top: 0px;
        padding: 20px 20px;
        background-color: rgb(0, 0, 0);
        font-size: 1rem;
    }
    
    #heading__name{
        font-size: 1.8rem;
        cursor: pointer;
        text-shadow: 0px -2.5px 3px rgb(0, 217, 255);
        transition: 0.5s;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    #heading__name:hover{
        font-size:2.2rem;
    }
    
    #heading__links{
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }
    
    .heading__links{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .heading__links:hover{
        color: rgb(0, 217, 255);
    }
    
    .section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    #sectionone__greeting{
        font-size: 3.5rem;
    }
    
    #sectionone{
        margin: 15px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sectionone__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #sectionone__name{
        font-size: 3rem;
    }
    
    span{
        color: rgb(0, 217, 255);
        cursor: pointer;
        transition: 0.5s;
        text-shadow: 3px 3px 2px rgb(255, 255, 255);  
        font-size: 4rem;
    }
    
    span:hover{
        font-size: 4.3rem;
        // margin-left: 0.5%;
    }
    
    #sectiontwo__text{
        // margin-top: 50px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // gap: 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 90%;
    }
    
    #sectiontwo__heading{
        font-size: 2rem;
        padding: 20px;
    }
    
    #sectiontwo__aboutme{
        width: 80%;
        padding: 20px;
        font-size: 1.2rem;
    }

    #sectionthree{
        margin-top: 100px;
    }
    
    #sectionthree__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 90%;
        // height: 100vh;
    }
    
    #sectionthree__heading{
        font-size: 2.8rem;
        padding: 20px;
    }
    
    #sectionthree__projects{
        // width: 100%;
        width: 80%;
        font-size: 1.5rem;
        display: flex;
        // flex-direction: column;
        // justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }
    
    .sectionthree__project{
        // display: flex;
        // flex-direction: column;
        // text-align: center;
        padding: 0;
        // cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .sectionthree__cover{
        border-style: solid;
        border-color: rgb(0, 0, 0);
        border-width: 3px;
        height: 70px;
        width: 50px;
        overflow: hidden;
        border-radius: 35px;
        cursor: pointer;
        min-width: none;
        background:none;
        transition: 0.5s;
    }
    
    .projectcontainer{
        transition: 0.75s;
        :hover{
            border-color: rgb(0, 217, 255);
            width: 210px;
            height: 210px;
        }
    }
    
    #sectionthree{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #sectionthree__description{
        width: 85%;
    }
    
    #sectionfour__heading{
        font-size: 2.8rem;
        padding: 20px;
    }
    
    .sectionfour__contact{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .sectionfour__logo{
        width: 40px;
        cursor: pointer;
    }
    
    .sectionfour__contactContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}
